doctype html 
html 
    head 
        title Dance academy 
        style 
            include ../static/style.css 
    body 
        nav#navbar 
            ul 
                li Home 
                li About 
                li contact 
                li Classes
            h1 Let's begin!! 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, earum! Quia odit laudantium sequi sapiente iusto dolor fugiat ex ducimus numquam dignissimos laborum ipsa eum, libero assumenda atque quidem temporibus fuga officiis nam non nulla officia voluptatibus qui repellendus. Sapiente laborum error delectus tempore molestias dolorem, adipisci illum eaque natus non voluptas dolorum eligendi officiis fugiat itaque numquam id qui quasi nesciunt porro et. Illum facilis dolorem maxime deserunt corporis neque non expedita suscipit sit, unde ducimus necessitatibus dolorum enim error velit nobis amet modi ab cum! Ut magni dolorum laudantium exercitationem obcaecati, tempora necessitatibus! Aspernatur voluptates dicta cum at id, aperiam ullam consequuntur ipsam unde. Voluptatibus voluptatem eaque officiis deserunt suscipit, ratione corrupti cum vel tempore distinctio repellat sint nihil nesciunt, dicta libero iusto dignissimos vitae, et nam illo. Culpa esse error asperiores doloribus! Sit tempore molestias eveniet saepe, facilis laboriosam! Id, necessitatibus iure asperiores recusandae corporis doloribus sed dolorum eum impedit fuga, perferendis sunt ad expedita, quod a saepe repellat. Labore exercitationem doloribus accusamus sunt facilis ducimus laudantium illum impedit fugiat optio molestiae possimus, aliquid corporis repudiandae ea cumque, quo nobis iure autem ut quam officiis eveniet! Harum nostrum deserunt, quaerat quidem est cum sunt atque quae asperiores doloribus, ipsa perspiciatis qui eligendi in maxime blanditiis officiis adipisci cupiditate ea et repellat repudiandae incidunt aspernatur. Saepe alias ab magnam minus itaque iusto, quaerat, eveniet porro repellat consectetur praesentium officiis sint vero sunt beatae distinctio libero ducimus, corporis quae atque veniam. Molestiae eveniet dolore velit quibusdam numquam placeat alias natus est assumenda ipsum quaerat, aliquam quidem voluptates quasi, optio commodi? Totam ex pariatur qui veniam veritatis minima aliquid consequuntur voluptates temporibus esse dolorem, harum quae eligendi officiis iste ea quaerat aperiam sequi non voluptatem libero? Earum, sunt qui itaque totam aliquam voluptate eos nemo, odio laboriosam sint dicta repudiandae voluptas, debitis reiciendis impedit ut delectus? Repellendus dolor tempore, ut earum cum laboriosam fugit esse eos. Mollitia magnam ab cum autem deleniti itaque pariatur cupiditate aspernatur eligendi, a repudiandae excepturi temporibus? Repudiandae, possimus. Ab nesciunt iste facilis veritatis rem tenetur eos voluptates quibusdam tempore?
        script 
            include ../static/index.js

       

